/* TABLET VIEW */
@media only screen and (max-width:768px) {
nav ul {
    display: none;
}

.mobile_menu {
    display: block;
    top: 120px;
    left: 80px;
}

section {
    padding: 90px 80px;
}

.vertical_line_left {
    height: 961%;
    position: absolute;
    left: 8%;
    margin-left: -3px;
    top: 0;
       
}

.vertical_line_right {
    height: 961%;
    position: absolute;
    right: 8%;
    margin-right: -3px;
    top: 0;

}

.horizontal_line_2 {
    top: 24%;
    margin: 0;
}


/* Main Navigation */

.head-link {
    border: 3px solid #56493D;
    color: #56493D;
}

.head-link:hover {
    background-color: #D7C0C6;
  }


/* Main Header */
.main_header {
    font-size: 70px;
    line-height: 180px;
    
   
}

.horizontal_line_3 {
    top: 97%;
    margin: 0
}

.hello_im {
    left: 1%;
    bottom: 0;
    top: 12%;
}

.im  {
    font-size: 50px;
    top: 60px;
    left: 0;
    right: 6%;
}

.gabby {
    font-size: 80px;
    left: 0;
    bottom: 0;
  
}

.wishart {
    font-size: 80px;
    left: 0;
    bottom: 130px;
    
   
}

.gabby_wishart {
    bottom: 26%;
    left: 10%;
   
}

/* About Section */
  
.horizontal_line_4 {
    top: 136%;
    margin: 30px 0;
     
}
.about_column_container {
    flex-direction: column;
}

.about_me_image {
    width: 70%;
}

.about_section {
    height: 970px;
    
}


/* Skills Section */
.skills_column_container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
     
   
}

.skills2_column_container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    
}

.skills1 {
    width: 145px;
    height: 50px;  
    font-size: 18px;
   
}

.skills4 {
    margin-right: 6%;
}

.horizontal_line_5 {
    top: 273%;
    margin:  0;
     
}




/* Gallery Section */
.horizontal_line_6 {
    top: 416%;
    margin:  0;
     
}


/* FAQs Section */
.horizontal_line_7 {
    top: 639%;
    margin:  0;
     
}

/* Contact Section */

.horizontal_line_8 {
    top: 835%;
    margin:  0;
     
}

form {
    
    margin: 0 auto;
    padding: 20px;
    
    width: 550px;
    height: 550px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    

}

#name, #email, #message {
  width: 450px;
  padding: 10px;
  margin: 20px;
 
}

textarea {

    width: 450px;
    height: 200px;
    padding: 10px;
    margin: 20px;
    border: 3px solid #56493D;
   
    background-color: #D7D5C8
  
  }

/* Dark Mode Toggle */

  .dark-mode-toggle {
    left: 80px;
}

    .light-mode-toggle {
    left: 80px;
}

}




/* MOBILE VIEW */
@media only screen and (max-width: 390px) {

    section {
        padding: 90px 50px;
    }

    .mobile_menu {
        display: block;
        top: 107px;
        left: 50px;

    }

    .vertical_line_left {
        height: 1179%;
        position: absolute;
        left: 8%;
        margin-left: -9px;
        top: 0;
             
    }

    .vertical_line_right {
       
        height: 1179%;
        position: absolute;
        right: 8%;
        margin-right: -9px;
        top: 0;
        
    }

    .horizontal_line_2 {
        top: 21%;
        margin: 0;
    }

    .h2 {
        font-size: 30px;
        vertical-align: baseline; 
    }
       
    h3 {
        font-size: 20px;
        
        
    
    }


    .gallery_column_container {
        flex-direction: column;
    }

    

  
/* Main Header */
    #header {
        height: 515px;
        
    }

    .horizontal_line_3 {
        top: 78%;
        margin: 0
    }

    .main_header {
        font-size: 40px;
        line-height: 150px;
        padding: 0%;
       

       
    }
    
    .hello_im {
        left: 0;
        bottom: 0;
        top: 12%;
       
    }
    
    .hello {
        left: -5px;
    
    }
    
    .im  {
        font-size: 30px;
        top: 40px;
        left: -8%;
        right: 0%;
        

       
    }
    
    .gabby {
        font-size: 47px;
        left: 0;
        bottom: 0;
      
    }
    
    .wishart {
        font-size: 47px;
        left: 0;
        bottom: 118px;
        
       
    }
    
    .gabby_wishart {
        bottom: 17%;
        left: 0;
        margin-left: -12px;
       

       
    }


/* About Section */
    .horizontal_line_4 {
        top: 113%;
        margin: 30px 0;
        
    }
    #about {
        font-size: 18px;
        
    }

    .about_section {
        height: 200%;
    }

    .about_me_image {
        width: 100%;
    }

    .about_column_container {
        flex-direction: column;
    }


/* Skills Section */
    
    .skills_column_container {
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: left;
        
    
    }

    .skills2_column_container {
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: left;
    }



    .horizontal_line_5 {
        top: 271%;
        margin:  0;
        
    }
    

    .software {
        font-size: 25px;
    
    }
    
    .personal {
        font-size: 25px;
     
    }


/* Gallery Section */
    .horizontal_line_6 {
    top: 461%;
    margin:  0;
     
}
    .image { 
        margin-bottom: 50px;
       
    }

/* FAQs Section */
    
    .horizontal_line_7 {
        top: 830%;
        margin:  0;
        
    }
    #faqs {
        font-size: 18px;
       
    }
    
/* Contact Section */

    .horizontal_line_8 {
        top: 1050%;
        margin:  0;
        
    }

    form {
    
        margin-left: -12px;
        padding: 20px;
        
        width: 300px;
        height: 550px;
        display: flex;
        flex-direction: column;
        align-items: center; 
        
    
    }
    
    #name, #email, #message{
      width: 230px;
      padding: 10px;
      margin: 20px;
     
    }
    
    textarea {
    
        width: 230px;
        height: 200px;
        padding: 10px;
        margin: 20px;
        border: 3px solid #56493D;
       
        background-color: #D7D5C8
      
      }


/* Footer Section */
      .footer {
        gap: 20px;
     
       
    }

/* Dark Mode Toggle */
    .dark-mode-toggle {
        left: 50px;
    }
   
    .light-mode-toggle {
        left: 50px;
    }



}




