/* TABLET VIEW */
@media only screen and (max-width:768px) {
nav ul {
    display: none;
}

.mobile_menu {
    display: block;
}


.main_header {
    font-size: 70px;
    line-height: 180px;
   
}

.horizontal_line_3 {
    
    top: 97%;
    margin: 0
}

.hello_im {
    left: 1%;
    bottom: 0;
    top: 12%;
}

.im  {
    font-size: 50px;
    top: 60px;
    left: 0;
    right: 6%;
}

.gabby {
    font-size: 80px;
    left: 0;
    bottom: 0;
  
}

.wishart {
    font-size: 80px;
    left: 0;
    bottom: 130px;
    
   
}

.gabby_wishart {
    bottom: 26%;
    left: 10%;
   
}

/* .skills_column_container {
    flex-direction: column;
}

.skills2_column_container {
    flex-direction: column;
} */

.mobile_menu {
    top: 70px;
    left: 70px;

}



.head-link {
    border: 3px solid #56493D;
    color: #56493D;
}

.head-link:hover {
    background-color: #D7C0C6;
  }

  .about_column_container {
    flex-direction: column;
}

  .about_me_image {
    width: 70%;
}

.about_section {
    height: 970px;
    
}

section {
    padding: 90px 80px;
}

form {
    
    margin: 0 auto;
    padding: 20px;
    
    width: 550px;
    height: 550px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    

}

input[type="name"],
input[type="email"],
textarea {
  width: 450px;
  padding: 10px;
  margin: 20px;
 
}

textarea {

    width: 450px;
    height: 200px;
    padding: 10px;
    margin: 20px;
    border: 3px solid #56493D;
   
    background-color: #D7D5C8
  
  }

}







/* MOBILE VIEW */
@media only screen and (max-width: 390px) {

    section {
        padding: 90px 50px;
    }

    .about_column_container {
        flex-direction: column;
    }

    .gallery_column_container {
        flex-direction: column;
    }

    .mobile_menu {
        display: block;

    }

    .vertical_line_left {
        height: 900%;
        position: absolute;
        left: 8%;
        margin-left: -9px;
        top: 0;
             
    }

    .vertical_line_right {
        border-left: 4px solid #56493D;
        height: 900%;
        position: absolute;
        right: 8%;
        margin-right: -9px;
        top: 0;
    }

    .h2 {
        font-size: 30px;
        vertical-align: baseline; 
    }
       
    h3 {
        font-size: 20px;
        
        
    
    }
    
    #header {
        height: 550px;
      
        
    }
    .main_header {
        font-size: 40px;
        line-height: 150px;
        padding: 0%;
       
    }
    
    .horizontal_line_3 {
        
        top: 97%;
        margin: 0
    }
    
    .hello_im {
        left: 0;
        
        bottom: 0;
        top: 12%;
    }
    
    .im  {
        font-size: 20px;
        top: 60px;
        left: 0;
        right: 6%;
    }
    
    .gabby {
        font-size: 50px;
        left: 0;
        bottom: 0;
      
    }
    
    .wishart {
        font-size: 50px;
        left: 0;
        bottom: 130px;
        
       
    }
    
    .gabby_wishart {
        bottom: 10%;
        left: 0;
       margin-right: 20%;
       
    }
    
    #about {
        font-size: 18px;
        
    }

    .about_section {
        height: 200%;
    }

    .about_me_image {
        width: 100%;
    }

    .skills1 {
        width: 150px;
        height: 50px;
        /* left: 583px; */
        /* top: 2235px; */
        border-radius: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-bottom: 10px;
        font-size: 18px;
      
    }

    .software {
        font-size: 25px;
    
    }
    
    .personal {
        font-size: 25px;
     
    }


    .image { 
        margin-bottom: 50px;
       
    }

    #faqs {
        font-size: 18px;
       
    }
    

    form {
    
        margin: 0 auto;
        padding: 20px;
        
        width: 300px;
        height: 550px;
        display: flex;
        flex-direction: column;
        align-items: center; 
        
    
    }
    
    input[type="name"],
    input[type="email"],
    textarea {
      width: 230px;
      padding: 10px;
      margin: 20px;
     
    }
    
    textarea {
    
        width: 230px;
        height: 200px;
        padding: 10px;
        margin: 20px;
        border: 3px solid #56493D;
       
        background-color: #D7D5C8
      
      }

      .footer {
    
        gap: 20px;
        
       
    }

}


