/* CSS GOES HERE */


body {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-weight: 300;
    font-family: "Kanit", sans-serif;;
    vertical-align: baseline;
    color:#56493D
    
}

.lines {
    background-image: url ('images/Lines.svg');
    background-size: 100%; 
    background-repeat: no-repeat;
    position: absolute;
}

section {
    padding: 60px 40px;
}

.container {
    width: 100%;
    max-width: 960px;
    text-align: left;
    margin: 0 auto;
    
}


nav ul {
    list-style: none;
    display: flex;
    flex-flow: row;
    justify-content: center;
    gap: 10px;
    margin: 0;
    padding: 40px;
    
}

.h2 {
    font-size: 30px;
    font-weight: 300;
    font-family: "Kanit", sans-serif;;
    vertical-align: baseline;
    color:#56493D
    
}

h3 {
    font-size: 30px;
    font-weight: 300;
    font-family: "Kanit", sans-serif;;
    vertical-align: baseline;
    color:#56493D

}




/* Main Navigation */
.head-link {
    box-sizing: border-box;
    width: 160px;
    height: 47px;
    left: 406px;
    top: 85px;
    border: 2px solid #56493D;
    border-radius: 40px;

    font-family: "Kanit", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    line-height: 34px;
    /* identical to box height */
    text-align: center;
   
}

.head-link:hover {
    background-color: #A2A075;
  }


#main_nav {
    background-color: #D7C0C6
}


/* Main Header */
#header {
    background-color: #D7C0C6
    
}

.main_header {
    font-family: "Days One", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 100px;
    line-height: 100px;
    color: #56493D;
    height: 750px
}

.hello_im {
    -webkit-text-stroke: 2.5px #56493D;
    color: transparent; 
    display: flex;
    
}

.im {
width: 163px;
height: 127px;
left: 1061px;
top: calc(50% - 127px/2 - 3594px);

font-family: 'Days One';
font-style: normal;
font-weight: 400;
font-size: 70px;
line-height: 127px;

transform: rotate(90deg);

}

.gabby_wishart {
    font-family: "Days One", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 90px;
    line-height: 100px;
    color: #56493D;

}


/* About Section */
#about {
    background-color: #D7D5C8;
    font-size: 20px;
    font-weight: 300;
    font-family: "Kanit", sans-serif;;
  
    color:#56493D
    
}
.about_me_image {
    border: 2px solid #56493D; /* 2px thick solid black outline */
    
}

.about_column_container {
    display: flex;
    justify-content: center;
    column-count: 2;
    column-gap: 36px;
    width: 100%;
    max-width: 960px;
  
    margin: 0 auto;

    
}


/* Skills Section */
#skills {
    background-color: #A2A075;
     
}

.skills1 {
    /* Rectangle 1 */

    box-sizing: border-box;

    width: 200px;
    height: 60.4px;
    left: 583px;
    top: 2235px;

    background: #D7D5C8;
    border: 2px solid #56493D;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.skills_column_container {
    display: flex;
    justify-content: center;
    column-count: 4;
    column-gap: 40px;
}

.skills2_column_container {
    display: flex;
    justify-content: center;
    column-count: 4;
    column-gap: 40px;
}

.skills1 {
    display: inline-flex;
    
} 

.software {
    font-size: 30px;
    font-weight: 300;
    font-family: "Kanit", sans-serif;;
    vertical-align: baseline;
    color:#56493D
    
}

.personal {
    font-size: 30px;
    font-weight: 300;
    font-family: "Kanit", sans-serif;;
    vertical-align: baseline;
    color:#56493D
}


/* Gallery Section */
#gallery {
    background-color: #D7C0C6
}

.image { 
    border: 2px solid #56493D; /* 2px thick solid black outline */ 
    margin-bottom: 20px;
    width: 100%;
    max-width: 960px;
    
 
}

.gallery_column_container {
    display: flex;
    justify-content: center;
    column-count: 2;
    column-gap: 36px;
    
    
}



/* FAQs Section */
#faqs {
    background-color: #D7D5C8;
    font-size: 20px;
    font-weight: 300;
    font-family: "Kanit", sans-serif;;
    color:#56493D
}

hr {
    border: none; 
    height: 1px; 
    background-color: #56493D; 
    margin: 20px 0; 
}

.toggle_button {
    text-align: right;
}


/* Contact Section */
#contact {
    background-color: #D7D5C8;
   
}

form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background: #A2A075;
    border: 1px solid #56493D;
    border-radius: 5px;

    box-sizing: border-box;

    background: #A2A075;
    border: 1px solid #56493D;

}


/* Footer Section */
.footer {
    color: #D7D5C8;
    display: flex;
    flex-direction: row;
    gap: 100px  
   
}

footer {
    background-color: #56493D;
    padding: 10px;
    
}

a {
    color: inherit;
    text-decoration: none;

}



