/* CSS GOES HERE */




body {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
section {
    padding: 60px 40px;
}

section:nth-child(even) {
    background-color: #f2f2f2;
}

.container {
    width: 100%;
    max-width: 960px;
    text-align: center;
    margin: 0 auto;
}

nav ul {
    list-style: none;
    display: flex;
    flex-flow: row;
    justify-content: center;
    gap: 10px;
}

.head-link {
    /* Rectangle 2 */

box-sizing: border-box;
width: 160px;
height: 47px;
left: 406px;
top: 85px;
border: 2px solid #56493D;
border-radius: 40px;

font-family: 'Saira';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 34px;
/* identical to box height */
color: #56493D;

}

.main_header {
    /* Wishart */

font-family: 'Days-One', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 100px;
line-height: 100px;
/* identical to box height */

color: #56493D;

}

.image {
   
border: 2px solid #56493D; /* 2px thick solid black outline */
      
}

.about_me_image {
    
border: 2px solid #56493D; /* 2px thick solid black outline */

}


footer {
    background-color: #56493D;
    color: #fff;
    padding: 10px;
}