/* CSS GOES HERE */


body {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-family: "Kanit", sans-serif;;
    vertical-align: baseline;
    color:#56493D
}
section {
    padding: 60px 40px;
}

.container {
    width: 100%;
    max-width: 960px;
    text-align: center;
    margin: 0 auto;
    
}

nav ul {
    list-style: none;
    display: flex;
    flex-flow: row;
    justify-content: center;
    gap: 10px;
    margin: 0;
    padding: 40px;
    
}



#main_nav {
    background-color: #D7C0C6
    
}



.head-link {
    /* Rectangle 2 */

    box-sizing: border-box;
    width: 160px;
    height: 47px;
    left: 406px;
    top: 85px;
    border: 2px solid #56493D;
    border-radius: 40px;

    font-family: "Kanit", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    line-height: 34px;
    /* identical to box height */
    text-align: center;

}


#header {
    background-color: #D7C0C6
}
.main_header {
    /* Wishart */

    font-family: "Days One", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 90px;
    line-height: 100px;
    /* identical to box height */

    color: #56493D;
    

}

.hello_im {
    -webkit-text-stroke: 2.5px #56493D;
    color: transparent;
   
    
}

.im {
    /* I’M */

width: 163px;
height: 127px;
left: 1061px;
top: calc(50% - 127px/2 - 3594px);

font-family: 'Days One';
font-style: normal;
font-weight: 400;
font-size: 90px;
line-height: 127px;

transform: rotate(90deg);

}

.gabby_wishart {
    font-family: "Days One", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 90px;
    line-height: 100px;
    /* identical to box height */

    color: #56493D;

}



#about {
    background-color: #D7D5C8;
}
.about_me_image {
    border: 2px solid #56493D; /* 2px thick solid black outline */
}

.about-column-container {
    display: flex;
    justify-content: center;
    column-count: 2;
    column-gap: 36px;
}


#skills {
    background-color: #A2A075;
     
}
.skills1 {
    /* Rectangle 1 */

    box-sizing: border-box;

    width: 200px;
    height: 60.4px;
    left: 583px;
    top: 2235px;

    background: #D7D5C8;
    border: 2px solid #56493D;
    border-radius: 40px;
 
}


#gallery {
    background-color: #D7C0C6
}
.image { 
    border: 2px solid #56493D; /* 2px thick solid black outline */ 
}
.gallery-column-container {
    display: flex;
    justify-content: center;
    column-count: 2;
    column-gap: 36px;
   
}


#faqs {
    background-color: #D7D5C8;
}

#contact {
    background-color: #D7D5C8;
}

.footer {
    color: #D7D5C8;
    display: flex;
    flex-direction: row;
    gap: 100px
    
  
}

footer {
    background-color: #56493D;
    padding: 10px;
  
}


a {
    color: inherit;
    text-decoration: none;

}

h2 {
    font-size: 45px;
    font-family: "Kanit", sans-serif;;
    vertical-align: baseline;
    color:#56493D
    
}

h3 {
    font-size: 30px;
    font-family: "Kanit", sans-serif;;
    vertical-align: baseline;
    color:#56493D
    
}